<form id="user-search-form">
  <input type="text" name="name" placeholder="Nombre">
  <input type="text" name="surname1" placeholder="Apellido 1">
  <input type="text" name="email" placeholder="Correo">
  <button type="submit">Buscar</button>
</form>

<table id="user-list-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido 1</th>
      <th>Apellido 2</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div id="pagination"></div>
